@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton-line,
.skeleton-circle,
.skeleton-navbar,
.skeleton-main,
.skeleton-card,
.skeleton-footer {
  background-color: #333; 
  background-image: linear-gradient(
    to right,
    #333 0%,
    #444 20%,
    #333 40%,
    #333 100%
  );
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear; 
  overflow: hidden; 
}

.skeleton-container {
  background-color: #1a202c;
}

.skeleton-navbar {
  height: 64px; 
}

.skeleton-main {
  min-height: calc(100vh - 64px - 64px); 
}

.skeleton-footer {
  height: 64px; 
}

.skeleton-circle {
  border-radius: 50%;
}
